# ========== Keil MDK 编译产物 ==========
*.axf
*.hex
*.bin
*.elf
*.map
*.lst
*.sct
*.crf
*.d
*.o
*.i
*.s_
*.tra
*.htm
*.dep
*.bak
*.uvgui*
*.uvoptx
Objects/
Listings/
RTE/
Debug/
Release/

# ========== STM32CubeIDE / GCC 编译文件 ==========
Debug/
Release/
build/
cmake-build-*
*.elf
*.bin
*.hex
*.map
*.o
*.d
*.su
*.cxx_
*.ld.bak

# ========== VSCode 缓存、配置（可选） ==========
.vscode/.cortex-debug
.vscode/launch.json
.vscode/extensions.json
*.code-workspace
.DS_Store
__pycache__/
*.log